.txtrubro{
    background-color:rgb(60, 73, 109);
    color:blanchedalmond;
    padding: 5px;
    border-radius: 5px;
}

.pie{
    background-color:rgb(44, 45, 47);
    align-content: space-between;
}

.contenido{
    text-align: center;
    background-color:gainsboro;
}

.my-custom-menu {
    --width: 500px;
  }