<ion-app>
  <ion-split-pane contentId="main-content" >
    <ion-menu contentId="main-content" (ionOpen)="avisar()" type="overlay" ionDidOpen ="avisar()">
      <ion-header [translucent]="true">
        <ion-toolbar color="tertiary">
          <ion-thumbnail slot="start">
            <ion-img src="../../../assets/logo.png"></ion-img>
          </ion-thumbnail>
          <ion-title>
            <h1><strong>Tu Sitio</strong></h1>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list" >
          <ion-list-header >{{usuario.nombre | titlecase}}</ion-list-header>
          <ion-note>{{fecha|date:"EEEE d, MMMM y"}}</ion-note>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/publicaciones" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="newspaper"></ion-icon>
              <ion-label>Publicaciones</ion-label>
            </ion-item>
            <ion-item *ngIf = "!logueado" routerDirection="root" routerLink="/login" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>Iniciar Sesion</ion-label>
            </ion-item>
            <ion-item *ngIf = "!logueado" routerDirection="root" routerLink="/registro" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>Registrarse</ion-label>
            </ion-item>

            <ion-item *ngIf = "logueado" (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Cerrar Sesion</ion-label>
            </ion-item>

            <ion-item *ngIf = "logueado" (click)="baja()" lines="none" detail="false">
              <ion-icon slot="start" name="person-remove"></ion-icon>
              <ion-label>Eliminar Cuenta</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


